@CHARSET "UTF-8";

body
{
background-color:#ffffff;
max-width:1000px;
}

p,li,td,div
{ 
font-family: helvetica, sans-serif;
color:#000000;
font-size: small; 
}

p
{
max-width:1000px;
}

.key {
    font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace;
}

.hidden
{
display:none;
}

div.highlight
{
background-color:#fff344;
}

div.code
{
font-family: monospace
}
